<a href="https://colab.research.google.com/github/SantiagoBaezaRuffino/THC/blob/main/20231003_BaezaRuffinoSantiago_EjercicioClase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ejercicio break**

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [6]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

#**Sentencia continue**

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
banan
cherry

#**Ejercicios**

##**Ejercicio 1**
Imprimir los números del 1 al 10

In [52]:
i=1
while i < 100:
  print(i)
  i=2i+1

SyntaxError: ignored

In [31]:
suma=0
for i in range(1,51):
  suma= suma + i
print(suma)

1275

In [35]:
suma=0
i = 1
while i < 51:
  suma = suma + i
  i = i + 1 #contador
print(suma)

1275

In [45]:
#Imprimir el factorial de un número dado
factorial = 1
n=5
for i in range(1,n+1):
  factorial=factorial*i
print(factorial)

120

In [48]:
#Imprimir los números pares del 1 al 100
i=1
while i < 100:
  print(i)

SyntaxError: ignored

In [64]:
for i in range(101):
 if (i%2)==0:
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [68]:
frutas = ["manzana", "pera", "naranja", "kiwi"]
for fruta in frutas:
  print(fruta)

manzana
pera
naranja
kiwi

In [72]:
suma = 0
numeros = [1,2,3,4,5]
for num in numeros:
  suma=suma+num
print(suma)

15