<a href="https://colab.research.google.com/github/SantiagoBaezaRuffino/THC/blob/main/THC_BaezaRuffinoSantiago_EjercicoClase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ejemplo Clase**

In [ ]:
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year" : 1964, #funciones hash, son funciones inyectivas
    "year" : 2020 #al ser una función inyectiva te imprime el último compilado
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
diccionario = {"python": 2.7, "zope": 2.13, "plone": 5.7}

l=[]
for i in diccionario.keys():
  l.append(diccionario[i]) #al meter l.append lo que hace es agregar a la lista, en este caso l

print(l)

[2.7, 2.13, 5.7]

In [ ]:
# Exportando la bibliotecas "pandas:bijblioteca especializada para el analisis de datos"
import pandas as pd

# Crear un diccionario
datos = {
    "Nombre": ["Juan", "María", "Pedro", "Luisa"],
    "Edad": [25,28,22,30],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

# Crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

#Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
# Crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [ ]:
frutas = ("manzana", "uvas", "mangos", "platano")
for i in frutas:
  print(frutas)

('manzana', 'uvas', 'mangos', 'platano')
('manzana', 'uvas', 'mangos', 'platano')
('manzana', 'uvas', 'mangos', 'platano')
('manzana', 'uvas', 'mangos', 'platano')

In [ ]:
if "manzana" in frutas:
  print("Si, la manzana está en la tupla")

Si, la manzana está en la tupla

In [ ]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [ ]:
mi_funcion()

Hola, te saludo desde la función

In [ ]:
def mi_funcion_nueva(fname):
  print("Hola "+fname +" te saludo desde la función" )

mi_funcion_nueva("Santiago")

Hola Santiago te saludo desde la función

In [ ]:
def Nombre(fname,lname):
  print("Hola "+fname+ " " + lname + " te saludo desde la función")

Nombre("Iván", "CC")

Hola Iván CC te saludo desde la función

In [ ]:
def mi_funcion(*kids):
  print("El niño menor es " + kids[2])

mi_funcion("Emil", "Tobias", "Linus", "Wilson")

El niño menor es Linus

In [ ]:
def mi_funcion(niño3, niño2, niño1):
  print("El niño menor es " + niño3)

mi_funcion(niño1 = "Emil", niño2= "Tobias", niño3= "Vapython")

El niño menor es Vapython

#**Ejercicio Clase**

In [ ]:
A = [1, 3, 5, 7, 9]
B = [0, 2, 4, 6, 8]
def sum_v(A,B):
  C = []
  if len(A)!=len(B):
    return
  for i in range(len(A)):
    C.append(A[i] + B[i])
  print(C)
sum_v(A,B)

[1, 5, 9, 13, 17]

In [ ]:
def sum_vec(A,B):
  if len(A)==len(B):
    n=len(A)
    C=n*[0.0]
    for i in range (n):
      C[i]=A[i]+B[i]
    print(C)
  else:
    print(NO)
sum_vec(A,B)

[1, 5, 9, 13, 17]